<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>

        {{>headers}}
          <p>{{error}}</p> 
           {{>footer}}
    </body>
</html>